<%= render "shared/header" %>
<div class='main'>

 <div class='title-contents'>
    <h2 class='service-title'>
       福岡の美味しい食べ物を知れる、知ってもらえる
    </h2>
    <p class='service-explain'>
      Myeatはだれでもかんたんにお店を知れる・知ってもらうことができる
    </p>
  </div>
  <%# /画面上部の「オリプリ」帯部分  %>

  <%# 投稿一覧 %>
<h2 class='title'>新規投稿一覧</h2>
  <div class='item-contents'>
    <ul class='item-lists'>
      <% @contents.each do |content|%>
    <li class='list'>
        <%= link_to content_path(content.id) do %>

        <%# 投稿の画像表示 %>
      <div class='item-img-content'>
          <%= image_tag content.images[0], class: "item-img" %>
        <div class='item-info'>
          <div class='item-name'>
            <%= content.restaurant %>
          <div class='item-price'>
            <span><%= content.price.data %>円</span>
            </div>
            </div>
          </div>
      </div>
        <% end %>
    </li>
      <% end %>

      <%# 投稿がある場合は表示されないようにしましょう %>
      <% if @contents.empty?%>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
          店名
          </h3>
          <div class='item-price'>
            <span>予算</span>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
      <%# //投稿がある場合は表示されないようにしましょう %>
  </ul>
  </div>
  
  <%# /商品一覧 %>
</div>
<div class='purchase-btn'>
  <span class='purchase-btn-text'>投稿する</span>
  <% if user_signed_in? %>
    <%= link_to new_content_path do %>
      <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    <% end %>
  <% end %>
</div>
<%= render "shared/footer" %>